.button {
  @apply border text-white rounded-md px-4 py-2 m-2 transition-colors duration-500 select-none bg-gray-600 border-gray-700 block;
}
.button:hover {
  @apply bg-gray-800;
}
.button:focus {
  @apply outline-none shadow-inner;
}
