@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100%;
}
#root > main {
}
body, html {
  height: 100%;
  min-height: 100%;
}
